.about{
    padding-bottom: 30px;
    background: #eee;
}
.promo{
    margin-bottom: 20px;
}

@media (max-width: 800px){
    .video-container iframe{
        height: 350px;;
    } 
    
}
@media (max-width: 480px){
    .video-container iframe{
        height: 200px;;
    } 
    
}